<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <div class="dropdown">
            <button type="button" class=" dropdown-toggle text category" data-toggle="dropdown">
              Category
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">JAR</a>
              <a class="dropdown-item" href="#">Data Assets</a>
              <a class="dropdown-item" href="#">Solutions</a>
              <a class="dropdown-item" href="#">Algorithms</a>
            </div>
         </div>
     
         <div class="input-group mb-3">
         <input type="text" placeholder="    Search..." class="bar">
         
        </div>
          
   
